@font-face {
    font-family:digital-7mono;
    src: url('assets/digital-7/digital-7mono.ttf');
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    height: auto;
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    border: 5px solid black;
    padding: 40px 40px 40px 40px;
}

#calculator > #screen-display-container {
    height: 100px;
    width: 30vw;
    border: 5px solid black;
}

#calculator > #keys-container {
    display: flex;
    gap: 50px;
    flex-direction: row;
}

#calculator > #keys-container > .column-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#calculator > #keys-container > .column-container > button {
    padding: 8px 16px 8px 16px;
    font-size: large;
}